<div class="container">
  <h2>Movies Katalog:</h2>
  <%= render partial: "shared/search_form", locals: { path: root_path}%>
  <div class="container">
  <% @movies.each do |movie| %>
      <%= render partial: "movie", locals: {movie: movie} %>
  <% end %>
    </div>
  </div>
</div>

