.container
  h2 Movies Katalog:
  = render partial: "shared/search_form", locals: { path: root_path}
  .container
    - @movies.each do |movie|
      #movies_row.col-md-5
         = render partial: "movie", locals: {movie: movie}
