<div class="container">
<% @movies.each do |movie| %>
    <div class="col-md-6" id="movies_row">
      <div class="del_from_list_block">
        <%= link_to 'Delete from list', destroy_watch_later_movie_path(movie),
                    method: :delete, class:"btn btn-primary btn-sm",
                    id: "delete_from_watch_later",
                    role:"button"%>
      </div>
  <%= render partial: "movie", locals: {movie: movie} %>
    </div>
<% end %>
</div>