.about_movie {
  font-size: 18px;
  .movie_plot {
    margin-top: 15px;
  }
}

#movies_row{
  margin-top: 15px;

  #movies_text_column {
    margin-left: 40px;
  }
}

#watch_later_button{
  margin: 15px;
}

#delete_from_watch_later{
  text-decoration: none;
}

.del_from_list_block{
  margin-bottom: 15px;
}