// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rounded-circle {
  border-radius: 50%;
}
.edit_delete_block{
  float: right;
}

.edit_delete_block .link{
  text-decoration: none;
}