.col-sm-7
  h4 Add review:
  = simple_form_for [reviewable, review] do |f|
    .form-group
      = f.input :rate, label: 'Your rate for this movie:', input_html: {max: "10", min: "0"}
      = f.label :'Your review:'
      = f.rich_text_area :description
    = f.button :submit, 'Save review', class: "btn btn-primary pull-right"
